* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(172, 220, 228);
    height: 100px;
}
.headerLogoSection {
    padding: 10px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerNavSection {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.headerNavSection > * {
    padding-left: 10px;
    padding-right: 10px;
}
.headerBlankSection {
    padding-right: 150px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        background-color: unset;
        padding: 0;
        height: 60px;
        overflow: visible;
    }
    .headerLogoSection {
        width: 100%;
        padding: 10px 0;
        background-color: rgb(172, 220, 228);
    }
    .headerNavSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-weight: unset;
        background-color: #f1f8ff;
    }
    .headerNavSection > * {
        padding: 10px 0;
    }
}
