<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/header.css" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <button type="button" class="signup" onclick="signup()">회원가입</button>
            <button type="button" class="login" onclick="logInOut()">로그인</button>
        </header>
    </body>
</html>
