.container {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: bisque;
}
.container > * {
    width: 100px;
    height: 100px;
}

.item1 {
    position: relative;
    top : 30px;
    left: 50px; 
    background-color: tomato;
}

.item2 {
    position: absolute;
    right: 30px;
    bottom: 100px;
    background-color: blue;
}

.item3{
    position: fixed;
    right: 100px;
    top: 100px;
    background-color: brown;
}