* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.topBanner {
    background-image: url('topBanner.png');
    background-color: #00bbff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 48px;
    box-sizing: border-box;
    position: relative;
}
.topBannerCloseBtn {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 10px;
    top: 0;
    background-color: unset;
    border: 0;
    color: white;
    font-size: 24px;
}
.topBannerClose {
    display: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    height: 100px;
    box-sizing: border-box;
    /* 얘 상단에 고정시키려면 fixed해야하는데 그러면 레이아웃 다 망가짐.. ㅇㅂㅇ.. 어케할지 고민해봐야겠음 */
}
.headerSelf {
    flex-grow: 1;
}
.headerNav {
    flex-grow: 2;
}
.headerCart {
    flex-grow: 1;
}
.headerSearch {
    flex-grow: 4;
}
.headerSignUp {
    flex-grow: 2;
}

.headerSelf * {
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.headerNav {
    display: flex;
}
.headerNav *:first-child {
    margin-left: 20px;
}
.headerNav * {
    margin: 0 7px;
    font-weight: bold;
    font-size: 17px;
}
.headerNav a:not(:first-child) {
    color: black;
}
.headerCommunity {
    color: #35c5f0;
}

.headerShopping:hover {
    color: #35c5f0;
}

.headerMoveContructionLife:hover {
    color: #35c5f0;
}
.headerSearch {
    margin-right: 30px;
}
.totalSearch {
    display: flex;
    position: relative;
    align-items: center;
}
.totalSearchText:hover {
    background-color: rgb(228, 225, 225);
}
.totalSearchText:focus {
    border-color: #35c5f0;
}
.readingGlasses {
    margin-left: 10px;
    width: 30px;
    height: 25px;
    margin-right: 3px;
}
.totalSearchText {
    position: absolute;
    outline: none;
    width: Calc(100% - 35px);
    background-color: unset;
    border: rgb(197, 193, 193);
    border-style: solid;
    height: 30px;
    border-radius: 5px;
    padding-left: 35px;
    z-index: 2;
}
.totalSearch::before {
    content: '';
    position: absolute;
    background-image: url('readingGlasses.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 10px;
    z-index: 3;
}
.cart {
    font-size: 24px;
    line-height: 1;
}
.cart::before {
    content: '';
    position: relative;
    display: inline-block;
    background-image: url('shoppingBasket.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: 0px;
    z-index: 3;
}
.headerSignUp {
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.headerSignUp * {
    text-align: center;
    font-size: 13px;
    padding: 0 10px;
    color: black;
    width: 100%;
}
.login {
    border-right: solid;
    border-color: rgb(234, 232, 232);
    flex-grow: 1;
}
.signUp {
    border-right: solid;
    border-color: rgb(234, 232, 232);
    flex-grow: 1;
}
.headerSignUp .csInfo {
    flex-grow: 1;
}
.headerWrite {
    flex-grow: 5;
}
.headerWriteButton {
    background-color: #35c5f0;
    color: white;
    border-style: none;
    width: 70px;
    height: 30px;
    border-radius: 3px;
}
.headerWriteButton:hover {
    cursor: pointer;
}
.headerWriteButton:active {
    /* 글쓰기 버튼을 누르면 아래 팝업이 나오게 만드는 기능 구현 추가필요 */
    color: aliceblue;
}

.navigator {
    border-top: solid;
    border-bottom: solid;
    height: 40px;
    border-color: rgb(234, 232, 232);
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 70px;
}
.navTab {
    display: flex;
    align-items: center;
    width: 75%;
    flex-wrap: nowrap;
    overflow-x: hidden;
    text-align: center;
}
.navTab * {
    font-weight: bold;
    font-size: 16px;
    color: #2f3438;
    height: 40px;
    line-height: 40px;
    flex-shrink: 0; /* item들이 컨테이너 안에 맞도록 줄어드는 비율을 정한다. 0으로 설정하면 줄어들지 않고 원래 너비를 유지한다 */
}
.navTabHome {
    color: #35c5f0;
    /* 홈 밑에 언더라인도 줘야함 */
}
.navTab *:not(:first-child) {
    padding: 0 7px;
}
.navTab *:first-child {
    padding-right: 7px;
}
.navTabReccomand:hover {
    color: #35c5f0;
}
.navTabChannel:hover {
    color: #35c5f0;
}
.navTabHouseWarming:hover {
    color: #35c5f0;
}
.navTabHomePhoto:hover {
    color: #35c5f0;
}
.navTab3DInterior:hover {
    color: #35c5f0;
}
.navTabArrangement:hover {
    color: #35c5f0;
}
.navTabcollectable:hover {
    color: #35c5f0;
}
.navTabHomestaurant:hover {
    color: #35c5f0;
}
.navTabHotPlace:hover {
    color: #35c5f0;
}
.navTabParenting:hover {
    color: #35c5f0;
}
.navTabplanterior:hover {
    color: #35c5f0;
}
.navTabpet:hover {
    color: #35c5f0;
}

.trendTopic {
    font-weight: bold;
    font-size: 16px;
    color: #2f3438;
    width: 20%;
    height: 40px;
    line-height: 40px;
}
.main {
    padding: 0px 70px;
    display: flex;
    flex-direction: column;
}
.advertiseSection {
    width: 100%;
    height: 500px; /*높이를 어떤 기준으로 준지 모르겠다.*/
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.adLeft {
    width: 73%;
    overflow: hidden;
}
.adRight {
    width: 25%;
    position: relative;
    display: flex;
    align-items: center;
}
.adLeftImg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.add-left-button {
    width: 100%;
    height: 100%;
    background-color: unset;
    border: none;
}
.add-right-button {
    width: 100%;
    height: 100%;
    background-color: unset;
    border: none;
}
.adLeft:hover .adLeftImg {
    transform: scale(1.05);
    transition-duration: 0.3s;
    cursor: pointer;
}
.rightImgContainer {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    overflow: hidden;
}
.adRightImg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
.adRight {
    position: relative;
    z-index: 1;
}
.adRightLeftButton {
    position: absolute;
    width: 48px;
    height: 48px;
    left: -24px;
    z-index: 100;
}
.adRightRightButton {
    position: absolute;
    width: 48px;
    height: 48px;
    right: -24px;
    z-index: 100;
}
.adRight:hover {
    cursor: pointer;
}
.adRight:hover > .rightImgContainer > .adRightImg {
    transform: scale(1.05);
    transition-duration: 0.3s;
}
.adRight:hover > .adRightLeftButton {
    /*다음요소가 아닌데 이게 맞는건가*/
    background-color: white;
    border-radius: 50%;
    background-image: url('adRightLeftArrow.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 1px 1px 1px rgb(237, 236, 236);
    cursor: pointer;
}
.adRight:hover > .adRightRightButton {
    background-color: white;
    border-radius: 50%;
    background-image: url('adRightRightAtrrow.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 1px 1px 1px rgb(237, 236, 236);
    cursor: pointer;
}
.adRightLeftButton:hover {
    background-color: rgb(235, 234, 234) !important; /*이렇게 강제로 해도 되는것인가*/
}
.adRightLeftButton:hover ~ .rightImgContainer > .adRightImg {
    transform: scale(1);
    transition-duration: 0.3s;
}
.adRightRightButton:hover {
    background-color: rgb(235, 234, 234) !important; /*이렇게 강제로 해도 되는것인가*/
}
.adRightRightButton:hover ~ .rightImgContainer > .adRightImg {
    transform: scale(1);
    transition-duration: 0.3s;
}
.iconSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    text-align: center;
}
.iconSection > * {
    width: 100%;
    padding: 10px;
    color: #2f3438;
}
.iconSection > * > * {
    width: 100%;
    flex-grow: 1;
}
.findPhotoSectionHeadSection {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.findPhotoSectionHead {
    font-weight: bold;
    padding: 10px 0;
    font-size: 20px;
}
.findPhotoSectionText {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(47, 52, 56);
}
.findPhotoSectionButton {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(53, 197, 240);
    cursor: pointer;
    background-color: unset;
    border-style: none;
}
.findPhotoSectionPhotoSection {
    overflow: visible;
    position: relative;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.findPhotoSectionPhotoSectionUIWrap {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.findPhotoSectionPhotoSectionUl {
    padding: 20px 0;
    list-style: none;
    display: flex;
    position: relative;
    left: 0;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
}

.findPhotoSectionPhotoSectionUl > li {
    display: list-item;
    margin: 0px 20px 0px 0px;
    padding: 0px;
    flex-shrink: 0;
    scroll-snap-align: start;
    width: calc(16.6667% - 16.6667px);
}
.findPhotoSectionPhotoSectionUl > li > div {
    width: 100%;
}
.findPhotoSectionPhotoSectionUl > li > div > img {
    width: 100%;
    border-radius: 5px;
}
.findPhotoSectionPhotoSectionLeftButtonSection {
    display: block;
    position: absolute;
    top: calc(50% - 24px);
    width: 48px;
    height: 48px;
    left: -5px;
    z-index: 5;
    overflow: visible;
}
.findPhotoSectionPhotoSectionRightButtonSection {
    position: absolute;
    top: calc(50% - 24px);
    width: 48px;
    height: 48px;
    right: -24px;
    z-index: 5;
    overflow: visible;
}
.findPhotoSectionPhotoSectionLeftButton {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 0;
    background-color: unset;
    background-size: 50%;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgb(237, 236, 236);
    background-color: white;
    background-image: url('adRightLeftArrow.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.findPhotoSectionPhotoSectionRightButton {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 0;
    background-color: unset;
    background-size: 50%;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgb(237, 236, 236);
    background-color: white;
    background-image: url('adRightRightAtrrow.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.findPhotoSectionPhotoSectionLeftButton:hover {
    background-color: rgb(235, 234, 234);
}
.findPhotoSectionPhotoSectionRightButton:hover {
    background-color: rgb(235, 234, 234);
}
.findPhoToSectionFirstHide {
    overflow: visible;
    left: -100%;
}
.findPhotoSectionPhotoSectionLeftButtonSectionHide {
    display: none;
}
