<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>회원정보 조회 페이지</h1>
        <form name="userinfo-form">
            <input type="text" id="userid" readonly /><br />
            <input type="password" id="userpw" placeholder="비밀번호" /><br />
            <input type="text" id="username" /><br />
            <button type="button" onclick="updateFunc()">회원정보 수정</button>
            <button type="button" onclick="deleteFunc()">회원탈퇴</button>
            <input type="hidden" id="dbid" />
        </form>

        <script>
            const temp = document.location.href.split('profile/');
            (async function () {
                const result = await axios({
                    method: 'GET',
                    url: `/api/user/info/${temp[1]}`,
                });
                console.log(result);
                const { id, userid, username, userpw } = result.data.info;
                document.querySelector('#userid').value = userid;
                document.querySelector('#userpw').value = userpw;
                document.querySelector('#username').value = username;
                document.querySelector('#dbid').value = id;
            })();
            async function updateFunc() {
                const form = document.forms['userinfo-form'];
                const data = {
                    userpw: form.userpw.value,
                    username: form.username.value,
                    id: Number(form.dbid.value),
                };
                const result = await axios({
                    method: 'PATCH',
                    url: '/api/user/update',
                    data,
                });
                console.log(result);
                if (result.data.result) {
                    alert('회원정보가 수정되었습니다.');
                    document.location.reload();
                }
            }
            async function deleteFunc() {
                if (!confirm('탈퇴하시겠습니까?')) {
                    return;
                }
                const form = document.forms['userinfo-form'];
                const data = {
                    id: Number(form.dbid.value),
                };
                const result = await axios({
                    method: 'DELETE',
                    url: '/api/user/delete',
                    data,
                });
                console.log(result);
                if (result.data.result) {
                    alert('탈퇴가 정상적으로 되었습니다.');
                    document.location.href = '/';
                }
            }
        </script>
    </body>
</html>
