<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get요청</title>
</head>
    <h1>GET 요청</h1>
    <form action="/result" method="get">
        <label for="id">ID</label>
        <input type="text" name="id" id="id" placeholder="ID"  required autofocus/><br />
        <label for="pw">PW</label>
        <input type="password" name="pw" id="pw" placeholder="PW"  required /><br />
        <!-- submit으로 지정해야 제출이 된다!! -->
        <button type="submit">제출</button>
    </form>
</body>
</html>