<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>main</title>
    </head>
    <body>
        <h1>폼 요청</h1>

        <h3>GET 요청</h3>
        <a href="/getPageMove">get요청으로 이동</a><br /><br />
        <h3>POST 요청</h3>
        <a href="/postPageMove">post요청으로 이동</a>
    </body>
</html>
